@import './base.css';

:root {
	--color-white: #fff;
	--color-blue-1: #1f2d37;
	--color-blue-2: rgb(50, 73, 89);
	--color-blue-3: #17497b;
	--color-blue-4: rgb(198, 215, 233);
	--color-blue-5: #dde9f8;
	--color-blue-6: #347bf6;
	--color-black-1: #1c2d44;
	--color-red-1: #f86b4f;
	--color-yellow-1: #ffb743;
	--color-green-1: rgb(64, 211, 183);
	--color-translucent-1: #090c0f5b;

	--color-cazeus: #0f1525;
	--color-r2pbet: #163351;
	--color-basswin: #0e2c2e;
	--color-fatpirate: #5b3824;
	--color-memocasino: #161618;
	--color-kinghills: #163d8c;
	--color-amonbet: #000000;
	--color-gransino: #000000;
	--color-heyspin: #000000;
	--color-jokabet: #1e2132;
	--color-rolletto: #1e2132;
	--color-tikitaka: #000000;
	--color-velobet: #000000;
	--color-ninewin: #070e28;
	--color-f7casino: #000000;
	--color-loki: #213043;
	--color-tikitaka: #000000;
	--color-gransino: #000000;
	--color-cosmobet: #101113;
	--color-goldenmister: #001553;
	--color-bountyreels: #00013a;
	--color-luckymister: #000000;
	--color-verywell: #000031;

	--fontSize-12: 12px;
	--fontSize-14: 14px;
	--fontSize-16: 16px;
	--fontSize-20: 20px;
	--fontSize-24: 24px;
	--fontSize-32: 32px;

	--weight-regular: 400;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-bold: 700;
	--weight-black: 900;

	--clip-path-star: polygon(
		50% 0%,
		61% 35%,
		98% 35%,
		68% 57%,
		79% 91%,
		50% 70%,
		21% 91%,
		32% 57%,
		2% 35%,
		39% 35%
	);
}

/* REUSED STYLES */
.bg-img-1 {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-blue-1);
	padding: 0 20px 40px;
	background-image: url(../images/chips.png);
	background-size: 33%;
	background-repeat: repeat;
	will-change: background-position;
}
.bg-img-2 {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.game-rating {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	gap: 10px;
}
.game-rating__stars {
	display: flex;
	align-items: center;
	gap: 5px;
}
.game-rating__star {
	width: 24px;
	height: 24px;
}
.game-rating__text {
	font-weight: var(--weight-bold);
	color: var(--color-black-1);
	font-size: var(--fontSize-20);
}
.casino-link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	text-transform: uppercase;
	font-weight: var(--weight-bold);
	background-color: var(--color-green-1);
	color: var(--color-white);
	border-radius: 5px;
	text-wrap: nowrap;
	box-shadow: 0 0 4px 2px rgb(192, 192, 192);
}
/* HEADER */
.header {
	background-color: var(--color-blue-1);
	width: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.header__container {
	width: min(1400px, 100%);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
}
.header__logo {
	display: flex;
	align-items: center;
	gap: 10px;
}
.header__logo-img {
	height: 40px;
	width: 40px;
}
.header__logo-text {
	color: var(--color-white);
	text-transform: uppercase;
	font-size: var(--fontSize-24);
	text-wrap: nowrap;
}
.header__nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	transition: transform 200ms ease-in-out;
}
.header__nav.active {
	transform: translateX(100%);
}
.header__nav-link {
	color: var(--color-blue-4);
	text-wrap: nowrap;
}
.header__best {
	margin-left: auto;
	background-color: var(--color-yellow-1);
	padding: 6px 8px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	gap: 6px;
}
.header__best-icon {
	width: 16px;
	height: 16px;
	background-color: var(--color-blue-1);
	clip-path: var(--clip-path-star);
}
.header__best-text {
	color: var(--color-blue-1);
	font-weight: var(--weight-bold);
	text-wrap: nowrap;
}
.header__toggle-btn {
	display: none;
}
@media (hover: hover) {
	.header__best:hover {
		background-color: red;
	}
	.header__best:hover .header__best-icon {
		background-color: var(--color-white);
	}
	.header__best:hover .header__best-text {
		color: var(--color-white);
	}
}
.header__line {
	height: 5px;
	margin-block: 4px;
	background: var(--color-white);
	transform-origin: left center 0;
	transition: transform 200ms ease, width 200ms ease;
	width: 25px;
}
.header__line--1 {
	margin-inline-start: auto;
}
.header__line--2 {
}
.header__line--3 {
}
.header__toggle-btn.active .header__line--1 {
	transform: rotate(45deg);
}
.header__toggle-btn.active .header__line--2 {
	transform: scaleX(0);
}
.header__toggle-btn.active .header__line--3 {
	transform: rotate(-45deg);
}
/* MAIN */
.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* MAIN -> BEST-GAMES */
.best-games {
	width: min(1200px, 100%);
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.best-games__description {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding-bottom: 10px;
}
.best-games__title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
.best-games__line {
	width: 100%;
	height: 6px;
	background-color: var(--color-white);
}
.best-games__title {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	color: var(--color-white);
	font-size: var(--fontSize-32);
	margin-inline: 10px;
	text-align: center;
	width: 100%;
	max-height: 2em;
}
.best-games__img {
	width: 40px;
	height: 40px;
	display: none;
}
.best-games__disclaimer {
	color: var(--color-white);
	font-weight: var(--weight-bold);
	background-color: red;
	width: max-content;
	max-width: 100%;
}
.best-games__pros {
	display: flex;
	align-items: center;
	gap: 10px;
}
.best-games__pro {
	display: flex;
	align-items: center;
	gap: 5px;
	color: var(--color-white);
	font-weight: var(--weight-semibold);
}
.best-games__pro-icon {
	width: 52px;
	height: 52px;
}
.best-games__text {
	color: var(--color-white);
	font-size: var(--fontSize-14);
}
.best-games__games {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}
.best-games__game {
	width: calc((100% - 40px) / 3);
	background-color: var(--color-white);
	padding: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}
.best-games__game-name {
	text-transform: uppercase;
	color: var(--color-black-1);
}
.best-games__game-logo {
	width: 100%;
	height: 180px;
	border-radius: 5px;
	object-fit: contain;
	padding: 10px;
}
.best-games__game-bonus-text {
	font-size: var(--fontSize-20);
	text-transform: uppercase;
	font-weight: var(--weight-bold);
	color: var(--color-red-1);
}
.best-games__game-bonus {
	width: 100%;
	text-align: center;
	font-size: var(--fontSize-24);
	color: var(--color-blue-1);
}
.best-games__game-advantages {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.best-games__game-advantage {
	display: flex;
	align-items: center;
	gap: 10px;
}
.best-games__game-advantage-img {
	width: 20px;
}
.best-games__game-advantage-text {
	color: var(--color-black-1);
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	text-wrap: nowrap;
}
/* MAIN -> GAMES */
.games {
	width: min(1200px, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.games__description {
	padding-bottom: 10px;
	width: 100%;
}
.games__title {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--color-white);
	font-size: var(--fontSize-32);
}
.games__img {
	width: 40px;
	height: 40px;
}
.games__games {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 12px;
}
.games__ul-header {
	width: 100%;
	padding: 15px 0;
	border-radius: 10px;
	background-color: var(--color-green-1);
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.games__ul-head {
	color: var(--color-white);
	font-weight: var(--weight-semibold);
	font-size: var(--fontSize-16);
	text-transform: uppercase;
	text-wrap: nowrap;
	text-align: center;
	position: relative;
	width: 100%;
}
.games__ul-head::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 2px;
	background-color: var(--color-white);
	right: 0;
}
.games__ul-head:last-child:after {
	background-color: transparent;
	display: none;
}
.games__game {
	display: grid;
	background-color: var(--color-white);
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	border-radius: 10px;
	overflow: hidden;
}
.games__game-logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.games__game-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	gap: 10px;
	padding: 10px;
}
.games__game-column::after {
	content: '';
	width: 1px;
	height: 100%;
	position: absolute;
	background-color: var(--color-blue-4);
	right: 0;
}
.games__game-logo {
	width: 100%;
	height: 200px;
	object-fit: contain;
}
.games__game-rating {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.games__game-name {
	width: 100%;
	text-align: center;
	color: var(--color-blue-1);
	font-size: var(--fontSize-24);
}
.games__game-about-title {
	font-size: var(--fontSize-20);
	width: 100%;
	text-align: center;
	color: var(--color-blue-1);
}
.games__game-about-text {
	line-height: 1.3;
	text-align: center;
	color: var(--color-blue-1);
	font-size: var(--fontSize-14);
}
.games__game-bonus {
	font-size: var(--fontSize-24);
	width: 100%;
	text-align: center;
	color: var(--color-blue-1);
}
.games__game-bonus-text {
	font-size: var(--fontSize-20);
	text-transform: uppercase;
	color: var(--color-red-1);
	font-weight: var(--weight-bold);
}
/* MAIN -> CASINO-BONUSES */
.casino-bonuses {
	padding: 40px 0;
	display: flex;
	gap: 40px;
	width: min(1200px, 100%);
}
.casino-bonuses__info {
	width: calc((100% - 40px) * 0.6);
}
.casino-bonuses__img {
	width: 100px;
	height: 100px;
	margin-bottom: 14px;
	margin-right: 14px;
	float: left;
}
.casino-bonuses__info-title {
	color: var(--color-black-1);
	font-size: var(--fontSize-24);
	margin-bottom: 16px;
}
.casino-bonuses__info-text {
	color: var(--color-black-1);
	font-size: var(--fontSize-16);
	margin-bottom: 16px;
	line-height: 1.3;
}
.casino-bonuses__info-strong {
	color: var(--color-black-1);
	font-size: var(--fontSize-16);
	margin-bottom: 16px;
}
.casino-bonuses__info-bonuses {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.casino-bonuses__info-bonus {
	list-style: decimal;
	margin-left: 16px;
}
.casino-bonuses__info-bonus::marker {
	color: var(--color-black-1);
}
.casino-bonuses__best {
	width: calc((100% - 40px) * 0.4);
	border: 1px solid var(--color-blue-3);
	padding: 20px 0 0;
	border-radius: 10px;
	overflow: hidden;
}
.casino-bonuses__bonuses-title {
	font-size: var(--fontSize-20);
	text-transform: uppercase;
	color: var(--color-blue-3);
	margin-bottom: 20px;
	padding-left: 20px;
}
.casino-bonuses__bonuses {
}
.casino-bonuses__bonus {
	position: relative;
	display: flex;
	align-items: flex-start;
	gap: 10px;
	padding: 20px;
}
.casino-bonuses__bonus::after {
	content: '';
	width: 80%;
	height: 1px;
	position: absolute;
	background-color: var(--color-blue-5);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.casino-bonuses__bonus:last-of-type {
	border-bottom: none;
}
.casino-bonuses__bonus:hover {
	background-color: var(--color-blue-4);
}
.casino-bonuses__icon {
	width: 30px;
	height: 30px;
}
.casino-bonuses__bonus-info {
}
.casino-bonuses__bonus-title {
	color: var(--color-blue-1);
	font-size: var(--fontSize-16);
	margin-bottom: 16px;
}
.casino-bonuses__bonus-text {
	color: var(--color-blue-1);
	font-size: var(--fontSize-14);
	line-height: 1.3;
}
/* MAIN -> ABOUT-US */
.about-us {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 80px 20px 40px;
	background-color: var(--color-translucent-1);
}
.about-us__container {
	width: min(1200px, 100%);
}
.about-us__img {
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 16px;
	margin-bottom: 16px;
}
.about-us__info {
	width: 100%;
}
.about-us__title {
	font-size: var(--fontSize-24);
	color: var(--color-white);
	margin-bottom: 16px;
}
.about-us__text {
	color: var(--color-white);
	line-height: 1.3;
	margin-bottom: 16px;
}
/* MAIN -> ABOUT-CASINO */
.about-casino {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 40px 20px 80px;
	background-color: var(--color-translucent-1);
}
.about-casino__info-container {
	width: 100%;
	height: max-content;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}
.about-casino__title {
	color: var(--color-white);
	font-size: var(--fontSize-32);
}
.about-casino__container {
	width: min(1200px, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about-casino__swiper {
	width: 100%;
	height: max-content;
	margin-bottom: 32px;
}
.about-casino__swiper .swiper-slide {
	padding: 20px 60px;
}
.about-casino__swiper-title-container {
	display: flex;
}
.about-casino__swiper-title {
	color: var(--color-white);
	font-family: sans-serif;
	font-size: var(--fontSize-24);
	margin-bottom: 1rem;
}
.about-casino__swiper-text {
	color: var(--color-white);
	font-family: sans-serif;
	line-height: 1.3;
	margin-bottom: 1rem;
}
.about-casino__swiper-text:last-of-type {
	margin: 0;
}
.about-casino .swiper-button-next::after,
.about-casino .swiper-button-prev::after {
	font-size: 24px; /* Размер стрелок */
	font-weight: 900;
	color: var(--color-white); /* Цвет стрелок */
}
.about-casino .swiper-pagination-bullet {
	background: lightgray; /* Синий цвет всех точек */
	opacity: 1; /* Чтобы точки были полностью видны */
}
.about-casino .swiper-pagination-bullet-active {
	background: gray; /* Красный цвет активной точки */
}
.about-casino .swiper-button-next::after,
.about-casino .swiper-button-prev::after {
	font-size: 24px; /* Размер стрелок */
	font-weight: var(--weight-heavy);
	color: var(--color-white); /* Цвет стрелок */
}
.about-casino .swiper-pagination-bullet {
	background: lightgray; /* Синий цвет всех точек */
	opacity: 1; /* Чтобы точки были полностью видны */
}
.about-casino .swiper-pagination-bullet-active {
	background: gray; /* Красный цвет активной точки */
}
/* MAIN -> ABOUT-SECURE */
.about-secure {
	width: 100%;
	background-color: var(--color-blue-2);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 20px;
}
.about-secure__container {
	width: min(1200px, 100%);
}
.about-secure__list {
	width: 100%;
	display: flex;
	gap: 20px;
}
.about-secure__item {
}
.about-secure__img {
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.about-secure__item-title {
	font-size: var(--fontSize-20);
	color: var(--color-white);
	margin-bottom: 16px;
}
.about-secure__item-text {
	font-size: var(--fontSize-16);
	color: var(--color-white);
	margin-bottom: 16px;
}
/* FOOTER */
.footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-blue-1);
	padding: 20px;
}
.footer__container {
	width: min(1200px, 100%);
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.footer__important {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__logo {
	display: flex;
	align-items: center;
	gap: 10px;
}
.footer__logo-img {
	width: 40px;
	height: 40px;
}
.footer__logo-text {
	color: var(--color-white);
	text-transform: uppercase;
	font-size: var(--fontSize-24);
	text-wrap: nowrap;
}
.footer__companies {
	display: flex;
	align-items: center;
	gap: 10px;
}
.footer__company {
	height: 100%;
	height: 24px;
}
.footer__policy-links {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.footer__policy-link {
	color: var(--color-blue-4);
	font-size: var(--fontSize-16);
}
.footer__copyright-container {
	display: flex;
	justify-content: space-between;
}
.footer__copyright {
	color: var(--color-white);
	font-size: var(--fontSize-16);
}
.footer__contact {
	color: var(--color-white);
	font-size: var(--fontSize-16);
}

/* MEDIA */
@media (max-width: 1200px) {
	/* REUSED STYLES */
	.bg-img-1 {
		background-size: 100%;
	}
	/* HEADER */
	/* MAIN */
	/* MAIN -> BEST-GAMES */
	/* MAIN -> GAMES */
	/* MAIN -> CASINO-BONUSES */
	.casino-bonuses {
		padding: 40px 20px;
	}
	/* MAIN -> ABOUT-US */
	/* MAIN -> ABOUT-CASINO */
	/* MAIN -> ABOUT-SECURE */
	/* FOOTER */
}
@media (max-width: 960px) {
	/* REUSED STYLES */
	.bg-img-1 {
		padding: 40px 20px;
	}
	/* HEADER */
	.header__toggle-btn {
		display: block;
	}
	.header__nav {
		background-color: var(--color-blue-1);
		gap: 20px;
		flex-direction: column;
		position: absolute;
		top: 100%;
		width: 100%;
		left: -100%;
		padding: 20px;
		border-top: 1px solid var(--color-blue-4);
		z-index: 1;
	}
	.header__nav-link {
		font-size: var(--fontSize-16);
		text-transform: uppercase;
		font-weight: var(--weight-semibold);
	}
	/* MAIN */
	/* MAIN -> BEST-GAMES */
	.best-games__description {
		width: 90%;
	}
	.best-games__game {
		width: calc((90% - 20px) / 2);
	}
	.best-games__line {
		display: none;
	}
	.best-games__title {
		margin: 0;
		text-wrap: nowrap;
		color: var(--color-white);
	}
	.best-games__img {
		display: block;
	}
	/* MAIN -> GAMES */
	/* MAIN -> CASINO-BONUSES */
	/* MAIN -> ABOUT-US */
	/* MAIN -> ABOUT-CASINO */
	/* MAIN -> ABOUT-SECURE */
	/* FOOTER */
}
@media (max-width: 720px) {
	/* REUSED STYLES */
	.game-rating {
		gap: 4px;
	}
	.game-rating__stars {
		gap: 4px;
	}
	.game-rating__star {
		width: 20px;
		height: 20px;
	}
	.game-rating__text {
		font-size: var(--fontSize-16);
	}
	/* HEADER */
	/* MAIN */
	/* MAIN -> BEST-GAMES */
	.best-games__description {
		width: 80%;
	}
	.best-games__img {
		width: 30px;
		height: 30px;
	}
	.best-games__title {
		font-size: var(--fontSize-24);
	}
	.best-games__pro {
		gap: 2px;
		font-size: var(--fontSize-14);
	}
	.best-games__pro-icon {
		width: 32px;
		height: 32px;
	}
	.best-games__text {
		font-size: var(--fontSize-12);
	}
	.best-games__games {
		column-gap: 10px;
	}
	.best-games__game {
		width: calc((80% - 10px) / 2);
		gap: 10px;
	}
	.best-games__game-name {
		font-size: var(--fontSize-20);
	}
	.best-games__game-bonus {
		font-size: var(--fontSize-16);
		font-weight: var(--weight-black);
	}
	.best-games__game-advantages {
		gap: 5px;
	}
	.best-games__game-advantage {
		gap: 2px;
	}
	.best-games__game-advantage-img {
		width: 16px;
		height: 16px;
	}
	.best-games__game-advantage-text {
		font-size: var(--fontSize-14);
	}
	.best-games__game:first-of-type {
		width: 80%;
	}
	/* MAIN -> GAMES */
	.games__description {
		width: 80%;
	}
	.games__title {
		font-size: var(--fontSize-20);
	}
	.games__img {
		width: 30px;
		height: 30px;
	}
	.games__ul-header {
		display: none;
	}
	.games__game {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;
		gap: 20px;
		padding-bottom: 10px;
	}
	.games__game-name {
		font-size: var(--fontSize-20);
	}
	.games__game-column {
		padding: 0 10px;
	}
	.games__game-column::after {
		display: none;
	}
	.games__game-logo-container {
		width: 100%;
	}
	.games__game-bonus {
		font-size: var(--fontSize-16);
		font-weight: var(--weight-black);
	}
	/* MAIN -> CASINO-BONUSES */
	.casino-bonuses {
		flex-direction: column;
		align-items: center;
	}
	.casino-bonuses__info {
		width: 100%;
	}
	.casino-bonuses__best {
		width: 100%;
	}
	.casino-bonuses__info-title {
		font-size: var(--fontSize-20);
		margin-bottom: 14px;
	}
	.casino-bonuses__info-text {
		font-size: var(--fontSize-14);
		margin-bottom: 14px;
	}
	.casino-bonuses__bonus-text {
		font-size: var(--fontSize-14);
		margin-bottom: 14px;
	}
	/* MAIN -> ABOUT-US */
	.about-us__img {
		width: 200px;
		height: 200px;
	}
	.about-us__title {
		font-size: var(--fontSize-20);
		margin-bottom: 14px;
	}
	.about-us__text {
		font-size: var(--fontSize-14);
		margin-bottom: 14px;
	}
	/* MAIN -> ABOUT-CASINO */
	.about-casino__title {
		font-size: var(--fontSize-24);
	}
	.about-casino__swiper-title {
		font-size: var(--fontSize-20);
		margin-bottom: 14px;
	}
	.about-casino__swiper-text {
		font-size: var(--fontSize-14);
		margin-bottom: 14px;
	}
	/* MAIN -> ABOUT-SECURE */
	.about-secure__list {
		flex-direction: column;
		align-items: center;
	}
	.about-secure__item-text {
		font-size: var(--fontSize-14);
		margin-bottom: 14px;
	}
	/* FOOTER */
	.footer__important {
		justify-content: center;
	}
	.footer__logo {
		display: none;
	}
	.footer__copyright {
		font-size: var(--fontSize-14);
	}
	.footer__contact {
		font-size: var(--fontSize-14);
	}
	.footer__policy-link {
		font-size: var(--fontSize-14);
	}
}
@media (max-width: 540px) {
	/* REUSED STYLES */
	.bg-img-1 {
		padding: 20px;
	}
	.casino-link {
		font-size: var(--fontSize-14);
		padding: 12px;
	}
	/* HEADER */
	.header__logo-text {
		font-size: var(--fontSize-20);
	}
	.header__best-text {
		display: none;
	}
	/* MAIN */
	/* MAIN -> BEST-GAMES */
	.best-games__description {
		width: 100%;
	}
	.best-games__game:nth-child(1) {
		width: 100%;
	}
	.best-games__game {
		width: calc((100% - 10px) / 2);
		padding: 10px;
		gap: 5px;
	}
	.best-games__game-name {
		font-size: var(--fontSize-16);
	}
	.best-games__game-bonus-text {
		font-size: var(--fontSize-16);
	}
	.best-games__game-logo {
		height: 140px;
	}
	.best-games__game-bonus {
		font-size: var(--fontSize-14);
	}
	.best-games__game-advantage-text {
		font-size: var(--fontSize-12);
	}
	/* MAIN -> GAMES */
	.games__description {
		width: 100%;
	}
	.games__game {
		gap: 10px;
		width: 100%;
	}
	.games__game-column {
		gap: 5px;
	}
	.games__game-name {
		font-size: var(--fontSize-16);
	}
	.games__game-about-title {
		font-size: var(--fontSize-16);
	}
	.games__game-about-text {
		font-size: var(--fontSize-12);
	}
	.games__game-bonus-text {
		font-size: var(--fontSize-16);
	}
	.games__game-bonus {
		font-size: var(--fontSize-14);
	}
	/* MAIN -> CASINO-BONUSES */
	/* MAIN -> ABOUT-US */
	.about-us__img {
		width: 100px;
		height: 100px;
	}
	/* MAIN -> ABOUT-CASINO */
	.best-bonuses__container {
		gap: 10px;
	}
	.best-bonuses__title {
		font-size: var(--fontSize-20);
	}
	.best-bonuses__bonus-title {
		font-size: var(--fontSize-16);
		align-items: center;
		margin-bottom: 12px;
	}
	.best-bonuses__bonus-icon {
		width: 18px;
		height: 18px;
	}
	.best-bonuses__bonus-text {
		font-size: var(--fontSize-12);
		margin-bottom: 12px;
	}
	/* MAIN -> ABOUT-SECURE */
	/* FOOTER */
	.footer__company {
		height: 20px;
	}
	.footer__copyright-container {
		flex-direction: column;
		align-items: center;
		gap: 5px;
	}
}
@media (max-width: 420px) {
	/* REUSED STYLES */
	.game-rating__star {
		height: 14px;
		width: 14px;
	}
	.game-rating__text {
		font-size: var(--fontSize-14);
	}
	.casino-link {
		font-size: var(--fontSize-12);
	}
	/* HEADER */
	/* MAIN */
	/* MAIN -> BEST-GAMES */
	.best-games {
		padding: 10px 0 0 0;
	}
	.best-games__description {
		gap: 5px;
	}
	.best-games__pros {
		justify-content: space-between;
	}
	.best-games__pro-icon {
		width: 24px;
		height: 24px;
	}
	.best-games__title {
		font-size: var(--fontSize-20);
	}
	.best-games__disclaimer {
		font-size: var(--fontSize-14);
	}
	.best-games__game-logo {
		height: 110px;
	}
	/* MAIN -> GAMES */
	.games__title {
		font-size: var(--fontSize-20);
	}
	.games__game-logo {
		height: 150px;
	}
	/* MAIN -> CASINO-BONUSES */
	/* MAIN -> ABOUT-US */
	/* MAIN -> ABOUT-CASINO */
	/* MAIN -> ABOUT-SECURE */
	/* FOOTER */
}
@media (max-width: 370px) {
	.footer__company {
		height: 17px;
	}
}
 